{% extends 'base.html' %}
{% load static %}
{% block title %}
CALV | Login
{% endblock%}


{% block content %}
<style>
  body{

  }
</style>

<!--<h2>login to view CALV posts!</h2>-->
<form  class="form-login" method="POST">
  <h1 class="about-header">Login</h1>
    <img class="login-img" src="{% static 'Img/group-chat.png' %}" alt="">
    {% csrf_token %}
    {{form.as_p}}
    <p class="small-p">No Account? <a class="small-p" href="#">Register!</a></p>
    <button class="button-54" role="button">Login</button>
</form>





{% endblock %}
